/* Importação  de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* -------------------- */
body {
    background-image: linear-gradient(to bottom right, rgb(216, 11, 189),rgb(141, 10, 216));
    background-repeat: no-repeat;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9c0390;
    padding: 20px 0;
    text-align: center;
}

/* .corpo-main {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

h2{
    font-family: 'Orbitron', sans-serif;
    
}

.col{
    border: 5px groove rebeccapurple;
    border-radius: 25px;
    height: 350px;
    width: 100%;
    
}

.numero-circulo,#hipotenusa-resultado,#Resultado-real,#resultado-celsus,#resultado-baskx1,#resultado-baskx2,#retangulo-resultado,#resultado-triangulo{
    font-family: 'Orbitron', sans-serif;
    color: rgb(223, 207, 222);
    font-size: 40px;
    margin-top: 25px;
}

.numero-circulo:hover,#hipotenusa-resultado:hover,#Resultado-real:hover,#resultado-celsus:hover,#resultado-baskx1:hover,#resultado-baskx2:hover,#retangulo-resultado:hover,#resultado-triangulo:hover{
    background-image: linear-gradient(to bottom right, rgb(216, 11, 189),rgb(141, 10, 216));
    border-radius: 1px 12px 1px 25px;
    padding: 0;
    border: 2px solid rebeccapurple;
}